@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-in {
  animation: fadeIn 0.4s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.font{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
  --bg: #fbfbfb;
  --text: #0D5D59;
  --text2 : black;
  --footer: #ffffff;
  --header : #e5e7eb;
  --border : #a9a9a9;
  --sidekick : #EBEBEB;
  --about : #374151;
  --card : #EBEBEB;
}

.dark {
  --bg: #1e1e1e;
  --text: #ffffff;
  --text2: #f1f1f1;
  --footer: #1e1e1e;
  --header : #2a2a2a;
  --border : #1c1c1c;
  --sidekick : #252525;
  --about : #252525;
  --card : #2a2a2a;
}

.card{
 background: var(--card);
 color: var(--text);
 border-color: var(--text);
}

.card2{
  color: var(--text2);
}

body{
  background: var(--bg);
  color: var(--text);
  border-color: var(--text);
}

.footer{
  background: var(--footer);
  color: var(--text);
  border-color: var(--border);
}

.header{
  background: var(--header);
  color: var(--text);
}

.about{
  color: var(--text);
}

.sidekick{
  background: var(--sidekick);
}

.servicesCard{
  background: var(--card);
  border-color: var(--text);
  color: var(--text);
}