@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-in {
  animation: fadeIn 0.4s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.font{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
  --bg: #fbfbfb;
  --text: #0D5D59;
  --text2 : black;
  --footer: #ffffff;
  --header : #e5e7eb;
  --border : #b9b9b9;
  --sidekick : #EBEBEB;
  --about : #374151;
  --card : #EBEBEB;
  --questions :#f2f2f2; 
  --answers: white;
  --calendar : #e6e6e6;
  --app-font-size: 1rem;
}
.showScroll{
  --overflow : auto;
}

.hideScroll{
  --overflow : hidden;
}

body{
  font-size: var(--app-font-size);
  background: var(--bg);
  color: var(--text);
  border-color: var(--text);
   overflow: var(--overflow) !important;
}

.dark {
  --bg: #1e1e1e;
  --text: #ffffff;
  --text2: #dadada;
  --footer: #282828;
  --header : #2a2a2a;
  --border : #1c1c1c;
  --sidekick : #252525;
  --about : #cfcfcf;
  --card : #2a2a2a;
  --questions :#2a2a2a; 
  --answers: black;
  --calendar: #2a2a2a;
}

.card{
 background: var(--card) ;
 color: var(--text);
 border-color: var(--text);
}

input:not(.search),select,textarea:not(.search){
  background-color: var(--questions) ;
  color: var(--text2) !important;
}
input.search {
  background-color: white !important; /* or whatever you want */
  color: black !important;
}
.calendar{
  background: var(--calendar);

}
.card2{
  color: var(--text2);
}

.card3{
  color: var(--text2);
  background: var(--border);
}

.card4{
  background: var(--text2);
  color: var(--border);
}

.footer{
  background: var(--footer);
  color: var(--text);
  border-color: var(--border);
}

.header{
  background: var(--header);
  color: var(--text);
}

.about{
  color: var(--text);
}

.text{
  color: var(--text2);
}

.sidekick{
  background: var(--sidekick);
}

.servicesCard{
  background: var(--card);
  border-color: var(--text);
  color: var(--text);
}

.faqsQuestions{
  background: var(--questions);
  color: var(--text);
}

.faqsAnswers{
  background: var(--answers);
  color: var(--text);
}

.shadow{
  box-shadow: 0px 0px 5px 2px var(--sidekick);
}

.text2{
  color: var(--bg);
}

.font-size{
  font-size: var(--app-font-size);
}

