@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-in {
  animation: fadeIn 0.4s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.shadow{
  box-shadow: 3.5px 2px 2px 3px #074842;
}
